p, h2 {
  text-align: center;
}

h2 {
  text-color: white;
}

#section {
  background: #9bd9e9;
  padding: 20px;
  border-radius: 20px;
  margin: 25px;
}
/* 
.form {
  background: #bce3de;
  padding: 20px;
  boarder-radius: 20px;
} */
