p, h1, h2, h3 {
  text-align: center;
}

#space {
  margin-top: 40px;
}

#small_space {
  margin-top: 30px;
}

#negative_space {
  margin_bottom: -50px;
}

#section {
  background: #bce3de;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  text-align: center;
}

#section h2 {
  color: #28666E;
  margin-bottom: 10px;
}

.row1,
.row2,
.row3 {
  display: flex;
  justify-content: center; 
  padding: 5px;
}  

#car {
  display: block;
  margin: 0 auto; 
}

input[type=submit], input[type=reset], input[type=button] {
  background-color: #28666E;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

img.resize {
  min-width: 10%;
  max-width: 30%;
  min-height: 10%;
  max-height: 30%;
  display: block;
  margin: 0 auto;
}

#right-aligned {
  float: right;
}

#ifixit {
  display: block; 
  margin: 0 auto;
  width: fit-content;
}

/* Remove float: center from input[type=button] */


/* p, h2, h3 {
  text-align: center;
}

#section {
  background: #bce3de;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  text-align: center;
}

#section h2 {
  color: #28666E;
  margin-bottom: 10px;
}

.row1,
.row2,
.row3 {
  text-align: center;
  display: flex;
  padding: 5px;
}  

#car {
  float: center;
}

input[type=submit], input[type=reset] {
  background-color: #28666E;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}

input[type=button] {
  background-color: #28666E;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: center;
}

img.resize {
  min-width: 10%;
  max-width: 30%;
  min-height: 10%;
  max-height: 30%;
  display: block;
  margin: 0 auto;
}
 */
/* 
.form {
  background: #bce3de;
  padding: 20px;
  boarder-radius: 20px;
} */
