---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

<!--       ### Author
![Madeline Yeh Headshot](assets/img/tinyheadshot.jpg)

Hi there! My name is [Madeline Yeh](https://www.linkedin.com/in/madelineyeh/), and I am a senior studying Information Science (Data Science and Information Ethics, Law and Policy) at Cornell University. I created this website for a final project in INFO 4260, Computing on Earth: Planetary Dimensions and Consequence of Computing taught by [Professor Steve Jackson](https://sjackson.infosci.cornell.edu) in Spring 2024. Beyond this class, I am interested in sustainability within tech, and specifically, the applications of data science in improving sustainability efforts and sustainable technologies. Following my graduation from Cornell in Spring 2024, I will be joining Thermo Fisher Scientific as an Associate Data Scientist in the Digital Leadership Development Program.

      
 -->
      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
