---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
<!--       Small household equipment
- Microwave
- Kitchen appliance
- Heating and ventilation
- Personal Care
- Vacuum Cleaner
- Other
Large Household Equipment
- Dishwasher
- Washing Machine
- Dryer
- Refrigerator
- Air Conditioning/Heater
- Other
Batteries
- Lithium Ion Batteries
- Nickel based batteries
- Alkaline Batteries
- Other
Personal Technologies
- Mobile Phone
- Laptop
- Printer
- Router
- Other -->
      <p>Walk though your home and search for any old, broken or neglected tech equipment!</p>
      <h2>Small Household Equipment</h2>
      <div>
        <h4>Microwave</h4>
        <form name="myform" oninput="microwave1.value = microwave.valueAsNumber">
          <input type="range" id="microwave" name="microwave" min="0" max="10" step="1" value= "0" list="markers"/>
          <output name="microwave1" for="microwave">0</output>
        </form>
        <datalist id="markers">
          <option value="0"></option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
        	<option value="5"></option>
        	<option value="6"></option>
        	<option value="7"></option>
        	<option value="8"></option>
        	<option value="9"></option>
        	<option value="10"></option>
        </datalist>
      </div>
      <div>
        <h4>Kitchen Appliance</h4>
        <form name="myform" oninput="kapp1.value = kapp.valueAsNumber">
          <input type="range" id="kapp" name="kapp" min="0" max="10" step="1" value= "0" list="markers"/>
          <output name="kapp1" for="kapp">0</output>
        </form>
        <datalist id="markers">
          <option value="0"></option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
        	<option value="5"></option>
        	<option value="6"></option>
        	<option value="7"></option>
        	<option value="8"></option>
        	<option value="9"></option>
        	<option value="10"></option>
        </datalist>
      </div>
      <div>
        <h4>Heating and Ventilation</h4>
        <form name="myform" oninput="heatvent1.value = heatvent.valueAsNumber">
          <input type="range" id="heatvent" name="heatvent" min="0" max="10" step="1" value= "0" list="markers"/>
          <output name="heatvent1" for="heatvent">0</output>
        </form>
        <datalist id="markers">
          <option value="0"></option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
        	<option value="5"></option>
        	<option value="6"></option>
        	<option value="7"></option>
        	<option value="8"></option>
        	<option value="9"></option>
        	<option value="10"></option>
        </datalist>
      </div>
      <div>
        <h4>Personal Care</h4>
        <form name="myform" oninput="pc1.value = pc.valueAsNumber">
          <input type="range" id="pc" name="pc" min="0" max="10" step="1" value= "0" list="markers"/>
          <output name="pc1" for="pc">0</output>
        </form>
        <datalist id="markers">
          <option value="0"></option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
        	<option value="5"></option>
        	<option value="6"></option>
        	<option value="7"></option>
        	<option value="8"></option>
        	<option value="9"></option>
        	<option value="10"></option>
        </datalist>
      </div>
      <div>
        <h4>Vacuum Cleaner</h4>
        <form name="myform" oninput="vacuum1.value = vacuum1.valueAsNumber">
          <input type="range" id="vacuum" name="vacuum" min="0" max="10" step="1" value= "0" list="markers"/>
          <output name="vacuum1" for="vacuum">0</output>
        </form>
        <datalist id="markers">
          <option value="0"></option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
        	<option value="5"></option>
        	<option value="6"></option>
        	<option value="7"></option>
        	<option value="8"></option>
        	<option value="9"></option>
        	<option value="10"></option>
        </datalist>
      </div>
      <div>
        <h4>Other</h4>
        <form name="myform" oninput="other_she1.value = other_she.valueAsNumber">
          <input type="range" id="other_she" name="other_she" min="0" max="10" step="1" value= "0" list="markers"/>
          <output name="other_she1" for="other_she">0</output>
        </form>
        <datalist id="markers">
          <option value="0"></option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
        	<option value="5"></option>
        	<option value="6"></option>
        	<option value="7"></option>
        	<option value="8"></option>
        	<option value="9"></option>
        	<option value="10"></option>
        </datalist>
      </div>
      <h2>Large Household Equipment</h2>
      <input type="range">
      <input type="range">
      <input type="range">
      <h2>Batteries</h2>
      <input type="range">
      <input type="range">
      <input type="range">
      <h2>Lighting</h2>
      <input type="range">
      <input type="range">
      <input type="range">
      <h2>Personal Technologies</h2>
      <input type="range">
      <input type="range">
      <input type="range">
      <ul></ul>
      <input type="submit">
      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
