---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      <head>
        <link rel="stylesheet" href="../assets/css/style.css">
        <script type="text/javascript" src="../assets/js/results.js"></script>
      </head>
      <body>
        <h1>Recycling is the best option when your used tech is beyond repair.</h1>
        <div id = "section">
          <h3>In 2014, New York State passed the Electronic Equipment Recycling and Reuse Act</h3>
          <h5 id = "space">Manufacturers must provide E-Waste recycling services that are:</h5>
          <div class = "row1" id = "negative_space">
            <div class = "row1-1">
              <img class= "resize" src="../assets/img/free.png" alt="Free">
              <p>Free</p>
            </div>
            <div class = "row1-2">
              <img class="resize" src="../assets/img/convenient.png" alt= "Convenient">
              <p>Convenient</p>
            </div>
          </div>
          <h5>Under this law, the following items are considered "E-Waste":</h5>
          <div class = "row1" id = "small_space">
            <div class = "row1-1">
              <img class= "resize" src="../assets/img/smart-tv.png" alt="TV">
              <p>Televisions</p>
            </div>
            <div class = "row1-2">
              <img class="resize" src="../assets/img/laptop.png" alt="Computer">
              <p>Computers</p></p>
            </div>
            <div class = "row1-3">
              <img class="resize" src="../assets/img/plug.png" alt="Peripherals">
              <p>Computer Peripherals</p>
            </div>
          </div>
          <div class = "row2" id = "negative_space">
            <div class = "row2-1">
              <img class= "resize" src="../assets/img/radio.png" alt="Radio">
              <p>Small Electronic Equipment</p>
            </div>
            <div class = "row2-2">
              <img class="resize" src="../assets/img/server.png" alt="Server">
              <p>Small Scale Servers</p></p>
            </div>
          </div>
          <h3 id = "negative_space">Why does this matter?</h3>
          <p>The Electronic Equipment Recycling and Reuse Act matters, because it places the responsibility of recycling in the hands of users, and makes E-Waste recyling more accessible for most users. This guarantees a minimization of the amount of E-Waste produced in New York state.</p>
          <input id="recycleright" type="button" value="Read the Law">
        </div>
        <h2 id = "space">Featured Resource: Certified Recycler Locator</h2>
        <img src="../assets/img/ewaste-worker.jpg" alt="RecPic">
        <p>An "electronic waste recycling facility" is a facility at which the materials, components or commodities contained in electronic waste are separated, dismantled or processed for the purpose of preparing the materials, components or commodities for use or reuse in new products or components thereof. This supports the circular economy in which materials already in the use are repurposed!</p>
        <input id="mapnav" type="button" value="Find an E-Waste Recycler Near You">
        <div id = "section">
          <h3>Does your tech still have a few years left? Try repair.</h3>
          <input id="repair" type="button" value="Learn About Your Repair Rights">
        </div>
        <script>
          document.getElementById("mapnav").addEventListener("click", redirectMap);
          function redirectMap(){
              window.location.href = "https://madigyeh.github.io/E-WasteCalculator/map/";
          }

          document.getElementById("recycleright").addEventListener("click", recycleRedirect);
          function recycleRedirect(){
              window.location = "https://www.nysenate.gov/legislation/laws/ENV/A27T26";
          }
          
          document.getElementById("repair").addEventListener("click", redirectRepair);
          function redirectRepair(){
              window.location.href = "https://madigyeh.github.io/E-WasteCalculator/repair-rights/";
          }
        </script>
      </body>
      {{ content }}
      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
