---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      <head>
        <link rel="stylesheet" href="../assets/css/style.css">
        <script type="text/javascript" src="../assets/js/results.js"></script>
      </head>
      <body>
        <h1>Recycling is the best option when your used tech is beyond repair.</h1>
        <div id = "section">
          <h3>In 2014, New York State passed the Electronic Equipment Recycling and Reuse Act</h3>
          <h5>The following items are covered under the Digital Fair Repair Act:</h5>
          <div class = "row1">
            <div class = "row1-1">
              <img class= "resize" src="../assets/img/mobile-phone.png" alt="Mobile Phone">
              <p>Smartphones</p>
            </div>
            <div class = "row1-2">
              <img class="resize" src="../assets/img/tablet.png" alt="Tablet">
              <p>Tablets and e-Readers</p></p>
            </div>
            <div class = "row1-3">
              <img class="resize" src="../assets/img/laptop.png" alt="Laptop">
              <p>Laptops and Desktops</p>
            </div>
          </div>
          <div class = "row2">
            <div class = "row2-1">
              <img class= "resize" src="../assets/img/monitor.png" alt="Monitor">
              <p>Monitors</p>
            </div>
            <div class = "row2-2">
              <img class="resize" src="../assets/img/drone.png" alt="Drone">
              <p>Drones</p></p>
            </div>
            <div class = "row2-3">
              <img class="resize" src="../assets/img/game-console.png" alt="Game Console">
              <p>Video Game Consoles*</p>
            </div>
          </div>
          <div class = "row3">
            <div class = "row3-1">
              <img class= "resize" src="../assets/img/news-reporter.png" alt="TV">
              <p>Televisions</p>
            </div>
            <div class = "row3-2">
              <img class="resize" src="../assets/img/sound-system.png" alt="Sound System">
              <p>Home Audio Equipment</p></p>
            </div>
          </div>
          <p>*Video game consoles are included, but the bill notes that manufacturers of consoles do not have to share materials “in a manner that is inconsistent with or in violation of any federal law,” the exact implications of which remain to be determined. </p>
          <h5>Under this new law, manufacturers must make available to independent repair providers:</h5>
          <div class = "row1">
            <div class = "row1-1">
              <img class= "resize" src="../assets/img/spare-parts.png" alt="Parts">
              <p>Parts</p>
            </div>
            <div class = "row1-2">
              <img class="resize" src="../assets/img/tool-box.png" alt="Tools">
              <p>Tools</p></p>
            </div>
            <div class = "row1-3">
              <img class="resize" src="../assets/img/documents.png" alt="Docments">
              <p>Documentation</p>
            </div>
          </div>
          <h3>Why does this matter?</h3>
          <input id="recycleright" type="button" value="Read the Law">
        </div>
        <h2>Featured Resource: Certified Recycler Locator</h2>
        <img src="../assets/img/ewaste-worker.jpg" alt="RecPic">
        <p>An "electronic waste recycling facility" is a facility at which the materials, components or commodities contained in electronic waste are separated, dismantled or processed for the purpose of preparing the materials, components or commodities for use or reuse in new products or components thereof. This supports the circular economy in which materials already in the use are repurposed!</p>
        <input id="mapnav" type="button" value="Find an E-Waste Recycler Near You">
        <div id = "section">
          <h3>Does your tech still have a few years left? Try repair.</h3>
          <input id="repair" type="button" value="Learn About Your Repair Rights">
        </div>
        <script>
          document.getElementById("mapnav").addEventListener("click", redirectMap);
          function redirectMap(){
              window.location.href = "https://madigyeh.github.io/E-WasteCalculator/map/";
          }

          document.getElementById("ifixit").addEventListener("click", ifixit);
          function ifixit(){
              window.location = "https://www.ifixit.com";
          }
          
          document.getElementById("repair").addEventListener("click", redirectRepair);
          function redirectRepair(){
              window.location.href = "https://madigyeh.github.io/E-WasteCalculator/repair-rights/";
          }
        </script>
      </body>
      {{ content }}
      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
